<div class="d-flex flex-row">
    <div
        [ngClass]="{'container': splitScreen || !splitScreen, 'container-fluid': splitScreen, 'halfScreen': splitScreen}">
        <div class="d-flex p-2 flex-row">
            <h1 class="font-weight-light text-center text-lg-left mt-2 mb-2">Results for {{inputText}}</h1>
            <form class="form-inline ml-auto mt-2 mb-2">
                <input [(ngModel)]="inputText" [ngModelOptions]="{standalone: true}" class="form-control mr-sm-2"
                    type="text" placeholder="Search">
                <button (click)="fetchPhotosHandler()" class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>

        <hr class="mt-2 mb-5">
        <div class="d-flex flex-row">
            <div class="row text-center">
                <div *ngFor="let photo of photos" class="col-lg-3 col-md-4 col-6">
                    <app-photo (click)="photoClickedHandler(photo)" [photo]="photo"></app-photo>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="splitScreen" class="d-sm-flex flex-column align-items-center rightPart">
        <app-photo-details (onCloseDetails)="closeDetailsHandler($event)" [splitScreen]="splitScreen" [photo]="currentPhoto"></app-photo-details>
    </div>
</div>